body {
    text-align: center;
}

header {
    display: inline-block;
    width: 100%;
}

.modify {
    display: none;
}

.lili span {
    display: inline-block;
}

.lili button {
    display: none;
}

.lili button.done {
    display: inline;
    position: relative;
    /*top:-15px;*/
    right: -150px;
}

.lili button.done::before {
    content: "X";
}

.main_todo {
    display: none;
    text-align: left;
}

#all_click {
    visibility: hidden;
}

.btn_div {
    display: none;
}

.in-line {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

input[type=button]:hover {
    background-color: lightgray;
}

.info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    display: inline-block;
}

.info p {
    line-height: 1;
}

.info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.info a:hover {
    text-decoration: underline;
}